
<div ng-app="app" ng-controller="AppCtrl">

  <h3>
    RGB <span style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </h3>

  <div layout>
    <div flex="10" layout layout-align="center center">
      <span>R</span>
    </div>
    <material-slider flex min="0" max="255" ng-model="color.red">
    </material-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-model="color.red">
    </div>
  </div>

  <div layout>
    <div flex="10" layout layout-align="center center">
      <span>G</span>
    </div>
    <material-slider flex ng-model="color.green" min="0" max="255">
    </material-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-model="color.green">
    </div>
  </div>

  <div layout>
    <div flex="10" layout layout-align="center center">
      <span>B</span>
    </div>
    <material-slider flex ng-model="color.blue" min="0" max="255">
    </material-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-model="color.blue">
    </div>
  </div>

  <h3>Rating: {{rating}}/5</h3>
  <material-slider discrete ng-model="rating" step="1" min="1" max="5">
  </material-slider>

  <h3>Disabled</h3>
  <material-slider ng-model="disabled1" disabled></material-slider>
  <material-slider ng-model="disabled2" disabled></material-slider>

  <h3>Disabled, Discrete</h3>
  <material-slider ng-model="disabled1" disabled step="3" discrete min="0" max="10"></material-slider>
  <material-slider ng-model="disabled2" disabled step="10" discrete></material-slider>
</div>
<style>
input[type="number"] { 
  text-align: center;
}
</style>
